.tooltip {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	background-color: red;
	transform: translate(-50%, -50%);
	--r: 50px;
	--ap: 50%;
	--ah: 10px;
	--aw: 10px;

	border-shape: shape(
		from 50px 0,
		hline to calc(100% - 50px),
		curve to right 50px with right top,
		vline to calc(100% - (50px + var(--ah))),
		curve to calc(100% - 50px) calc(100% - var(--ah)) with right
			calc(100% - var(--ah)),
		hline to calc(var(--ap) + var(--aw)),
		line by calc(var(--aw) * -1) var(--ah),
		line by calc(var(--aw) * -1) calc(var(--ah) * -1),
		hline to 50px,
		curve to left calc(100% - (50px + var(--ah))) with left
			calc(100% - var(--ah)),
		vline to 50px,
		curve to 50px top with left top
	);
}
